.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1477089104253-0f745e68267f?q=80&w=1704&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background-attachment: fixed;
}

.content {
  border: none;
  width: 100%;
  color: white;

  border-radius: 8px;
  padding: 15px;
}

.pre-content-wrap {
  border: none;
  width: 100%;
}

.pre-content-title {
  font-weight: 400;
  color: var(--text-color-white);
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 15px;
  font-family: var(--text-font-section);
}

.pre-content-text {
  font-family: var(--text-font-section);
  font-size: 1.1rem;
  line-height: 1.6 !important;
  margin-bottom: 15px;
}

@media (min-width: 1240px) {
  .container {
    height: 100vh;
    flex-direction: row;

    padding: 20px;
  }

  .content {
    width: 80%;
    padding: 20px;
  }

  .pre-content-wrap {
    max-width: 500px;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .pre-content-wrap-text {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
}
